@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", sans-serif;
}

.artist-page{
    width: 100%;
    height: auto;
}

.profile{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 40px 115px;
    background-color: #2B2B2B;
    row-gap: 30px;
}
.profile-bio{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    row-gap: 10px;
}

.bio{
    font-size: 51px;
    color: #fff;
    font-weight: 600;
}
.bio-text{
    font-size: 22px;
    color: #fff;
}




.search-bar label{
    width: 24px;
    height: 24px;
}


.search-bar label:hover{
    cursor: pointer;
}

.nfts-card-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 115px;
    background-color: #2B2B2B;
}

.nfts-card-header{
    width: 100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.created,.owned,.collection{
    padding: 15px 59px;
    height: auto;
    display: flex;
    column-gap: 16px;
    color: #fff;
    align-items: center;
    cursor: pointer;
}

.figures,.figure{
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #858584;
}

.figure{
    background-color: #3B3B3B;

}

.created{
    border-bottom: 1.5px solid #858584;
}

.nfts-card-header-mobile{
    display: none;
}

.artist-rank{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #2B2B2B;
    padding: 40px 115px;
    row-gap: 32px;
}

.table-header,.table-item{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    border: 1px solid #3B3B3B;
    border-radius: 20px;
   
}
.table-item{
    background-color: #3B3B3B;
   
}
.artist-id{
    width: 430px;
    height: auto;
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.id,.artist_,.change,.nft-sale,.nft-volume-change{
    font-family: "Space Mono", monospace;
    color: #858584;
}
.change,.nft-sale,.nft-volume-change{
    width: 160px;
}
.artist-name-img{
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.artist-img{
    width: 60px;
    height: 60px;
}

.artist-img img{
    width: 100%;
    height: 100%;
}

.artist-name{
    color: #fff;
    font-size: 22px;
}

.rank{
    width: 30px;
    height: 30px;
    clip-path: circle();
    background-color: #2B2B2B;
    text-align: center;
}
.change-color{
    color: #00AC4F
}
.color{
    color: #fff;
}
@media screen and (max-width:1200px) {
    .nfts-cards{
        width: 100%;
        padding: 80px 72px;
    }
    .artist-rank{
        width: 100%;
        padding: 40px 72px;
    }

    .nfts-card-section{
        padding: 0px 72px;
    }
    .profile{
        padding: 40px 72px;
    }
    .created,.owned,.collection{
        padding: 15px 40px;
    }
}
@media screen and (max-width:1100px) {
    .artist-name{
        font-size: 16px;
    }

    
}
@media screen and (max-width:1000px) {
    .artist-id{
        width: 300px;
    }

    .artist-img{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .artist-img img{
        width: 40px;
        height: 40px;
        
    }
    .rank{
        background:none;
    }

    .nft-sale{
        display: none;
        
    }

    .change,.nft-volume-change{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profile-name-buttons{
        row-gap: 30px;
        flex-direction: column;
    }
    .nft-card-collection{
        grid-template-columns: repeat(2,1fr);
    }
    .values{
        font-size: 22px;
        font-weight: 500;
    }
    
    .s-field{
        font-size: 16px;
    }

    .bio{
        font-size: 38px;
    }

    .bio-text{
        font-size: 16px;
    }
}
@media screen and (max-width:750px) {
    .profile-name-buttons{
        row-gap: 30px;
        flex-direction: column;
    }
    .nft-card-collection{
        grid-template-columns: repeat(2,1fr);
    }
    .profile-stat{
        width: 80%;
    }

    .created,.owned,.collection{
        padding: 15px 30px;
    }
    .figure,.figures{
        display: none;
    }
    .price-edit2{
        font-size: 12px;
    }
}

@media screen and (max-width:650px) {
    .profile-name-buttons{
        row-gap: 30px;
        flex-direction: column;
    }
    .nft-card-collection{
        grid-template-columns: repeat(1,1fr);
    }
    .price-edit2{
        font-size: 14px;
    }
    .profile-image{
        left: 35%;
    }
    .created,.collection{
        font-size: 12px;
        padding: 5px;
    }
    .change{
        display: none;
    }    

    .nft-volume-change{
        font-size: 12px;
    }
    .artist-name,.artist_{
        font-size: 12px;
    }

    .artist-img{
        width: 24px;
        height: 24px;
    }

    .id{
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: auto;
    }
    .artist-img{
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .artist-img img{
        width: 24px;
        height: 24px;
        
    }
}

@media screen and (max-width:450px) {
    .nfts-card-header{
        display: none;
    }
    .nfts-card-header-mobile{
        display: flex;
    }

    .nfts-cards{
        width: 100%;
        padding: 80px 30px;
    }
    .artist-rank{
        width: 100%;
        padding: 30px 30px;
    }
    .nfts-card-section{
        padding: 0px 30px;
    }
    .profile{
        padding: 40px 30px;
    }
    .profile-stat{
        width: 100%;
    }
    .created,.owned,.collection{
        padding: 15px 10px;
    }
    .profile-name{
        font-size:22px;
    }
    .follow-wallet-button{
        width: 100%;
        flex-direction: column;
    }
    .follow-button button,.copy-address button{
      width: 100%;
    }

    .follow-button,.copy-address{
        width: 100%;
    }
    .bio{
        font-size: 28px;
    }

}

@media screen and (max-width:380px) {
    .artist-id{
        column-gap: 10px;
    }

    .table-item{
        padding: 12px 10px;
    }
}